/* $Id: gallery_assist.css,v 1.8 2009/12/03 14:17:26 jcmc Exp $ */

/* Gallery assist admin. */
#gallery-assist-users-help {
  margin: 0 20px;
}

#gallery-assist-users-help h3 {
  margin: 12px 0 5px 0;
}

.gallery-assist-settings-left {
  float:left;
  padding: 0 10px;
  width:30%;
}

.gallery-assist-settings-left-half {
  float:left;
  padding: 0 10px;
  width:45%;
}

/* gallery_assist container */
.item-box {
  float: left;
}

.image-box {
  text-align: center;
  /* border:1px solid gray; */
}

/*
.image-box:hover {
  border:1px solid red;
  background:#ffcc33;
}
*/

/* gallery_assist item preview */
#gallery-item-caption-title {
  font-weight: bold;
}

/* pager */
#ga-pager-box {
  clear:both;
}

/* gallery_assist item preview pager */
#ga-pager-box ul.pager {
  text-align: left;
  padding: 0 0 1em 0;
}

#ga-pager-box ul li img.off {
  height: 20px;
}
#ga-pager-box ul li img.on {
  height: 25px;
}

#exif-data {
  margin-top: 2em;
  padding: 2em;
  border: 1px solid gray;
}

.gallery-container .title-box {
  text-align:center;
}

/* gallery_assist shows as list */
#gallery-container .item-box-list {
  clear:left;
  display:block;
}

#gallery-item-caption-title, .title-box-on-list {
  font-weight: bold;
}

.item-box-row {
  /*border-bottom:1px solid;
  border-color:#AAAAAA;*/
  padding:15px 10px 10px 10px;
}

.gallery-container .odd {
  background:#EDF5FA;
}

/*
.item-box {
  margin-top:5px;
}*/

.ga-common-block-links {

}

#blok-gallery-container, 
#blok-gallery-container.item-box {
  background: transparent;
  margin-top:0;
}

.ga-common-block-pics {
  line-height: 0;
  float: left;
  margin: 2px;
}

.thmb_form_image {
  height:80px;
  width:80px;
  text-align:center;
}
